.home{
    width: 90%;
    max-width: 1200px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .container__characters{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
        gap: 5rem;
        grid-auto-rows: 28rem;
    }

    .container__pagination{
        display: flex;
        justify-content: center;
        gap: 2rem;       
    }
}