.home{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 4rem;
    .search{
        font-size: 2rem;
        width: 15rem;
        padding: 1rem;
        transition: width 0.4s ease-in-out;
        &:focus{ 
            width: 25rem;
        }
    }
    .container__characters{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
        gap: 5rem;
        grid-auto-rows: 28rem;
    }

    .container__pagination{
        display: flex;
        justify-content: center;
        gap: 2rem;       
    }
}