.navbar{
    padding: 4rem 0;
    text-align: center;
    .link__home{
        font-size: 4rem;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (min-width: 900px) {
    .navbar{
        .link__home:hover{
            color: red;
        }
    }
}