.button{
    padding: 2rem 4rem;
    color: white;
    background-color: rgb(141, 10, 10);
}

@media screen and (min-width: 900px) {
    .button{
        cursor: pointer;
        transition: background-color 0.4s ease-in-out;
        &:hover{
            background-color: rgb(116, 8, 8);
        }
    }
}