.button{
    padding: 2rem 4rem;
    background-color: #fff;
    text-transform: uppercase;
}

@media screen and (min-width: 900px) {
    .button{
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover{
            color: #fff;
            background-color: rgb(26, 23, 23);
        }
    }
}